<br><br>
# Task 7-4 Using Pandas
<br><br>
We will load the population data from population_data.csv as we did in Task 7-1, but this time using Pandas exclusively.

In [1]:
import pandas as pd

In [2]:
filepath = '../../resources/population_data.csv'

In [3]:
population_data = pd.read_csv(filepath)
population_data.shape

(5, 4)

In [4]:
population_data

               city state  year  population
0  Colorado Springs    CO  2020      485946
1           Raleigh    NC  2020      481958
2          Honolulu    HI  2020      342933
3         Anchorage    AK  2010      293310
4            Newark    NJ  2010      277158

In [5]:
population_data['population'].mean()

376261.0

In [6]:
population_data.describe()

              year     population
count     5.000000       5.000000
mean   2016.000000  376261.000000
std       5.477226  101261.645785
min    2010.000000  277158.000000
25%    2010.000000  293310.000000
50%    2020.000000  342933.000000
75%    2020.000000  481958.000000
max    2020.000000  485946.000000

In [7]:
population_data.describe().loc['mean', 'population']

376261.0

In [8]:
mask = population_data.population > 350_000
population_data[mask]

               city state  year  population
0  Colorado Springs    CO  2020      485946
1           Raleigh    NC  2020      481958