# 08_series
### Creating Series

In [1]:
import pandas as pd

Creating Series

In [2]:
ser1 = pd.Series([212, 32, 0, -273])
ser1

0    212
1     32
2      0
3   -273
dtype: int64

In [3]:
ser2 = pd.Series(name='City Elevations',
                 index=['Colorado Springs', 'Phoenix', 'Raleigh', 'Milwaukee', 'Seattle'],
                 data=[6172, 1132, 437, 723, 429])
ser2

Colorado Springs    6172
Phoenix             1132
Raleigh              437
Milwaukee            723
Seattle              429
Name: City Elevations, dtype: int64

<br><br>
Other ways to create Series (not shown on the slides):

In [4]:
city_elevations = {'Denver': 5883, 'Austin': 632, 'Philadelphia': 21, 'Billings': 3649, 'Anchorage': 144}
ser3 = pd.Series(city_elevations, name='City Elevations')
ser3

Denver          5883
Austin           632
Philadelphia      21
Billings        3649
Anchorage        144
Name: City Elevations, dtype: int64