# 09_accessing_series
### Accessing data values within a Series.

In [1]:
import pandas as pd

In [2]:
ser4 = pd.Series([218, 15, 619, 13, 1295],
                 index=['Mobile', 'San Diego', 'Chicago', 'New York City', 'Oklahoma City'],
                 name='City Elevations')
ser4

Mobile            218
San Diego          15
Chicago           619
New York City      13
Oklahoma City    1295
Name: City Elevations, dtype: int64

<br><br>
Different ways to access a series...

In [3]:
ser4['Mobile']

218

In [4]:
ser4.get('New York City')

13

In [5]:
try:
    print(ser4['Albuquerque'])
except KeyError:
    print('not found')

not found

In [6]:
ser4.get('Albuquerque')

In [7]:
ser4.get('Albuquerque', -1)

-1

In [8]:
ser4[['Chicago', 'Oklahoma City']]

Chicago           619
Oklahoma City    1295
Name: City Elevations, dtype: int64

In [9]:
type(ser4[['Chicago', 'Oklahoma City']])

pandas.core.series.Series

In [10]:
ser4.Chicago

619

In [11]:
ser4[1:3]

San Diego     15
Chicago      619
Name: City Elevations, dtype: int64

In [12]:
'Series: {name}, Median: {median}'.format(name=ser4.name, median=ser4.median())

'Series: City Elevations, Median: 218.0'

In [13]:
ser4.describe()

count       5.000000
mean      432.000000
std       541.983395
min        13.000000
25%        15.000000
50%       218.000000
75%       619.000000
max      1295.000000
Name: City Elevations, dtype: float64

In [14]:
ser4.describe()['mean']

432.0

In [15]:
ser4.index

Index(['Mobile', 'San Diego', 'Chicago', 'New York City', 'Oklahoma City'], dtype='object')

In [16]:
ser4.values

array([ 218,   15,  619,   13, 1295], dtype=int64)