# 17_grouping
### Demonstrates the use of Pandas groupby() feature.

In [1]:
import pandas as pd

In [2]:
contacts = pd.read_csv('contacts2.dat', header=None,
                       names=['name', 'address', 'state', 'zip', 'area_code', 'phone', 'email', 'company', 'position'],
                       converters={'state': lambda txt: txt.strip()})

In [3]:
contacts

,name,address,state,zip,area_code,phone,email,company,position
0,Bob Green,4517 Elm St. Riverside,NJ,8075,301,356-8921,bob@abc.com,ABC Inc.,President
1,Violet Smith,220 E. Main Ave Philadelphia,PA,9119,202,421-9008,ssmithj@hypex.org,FakeCo Inc.,Janitor
2,John Brown,231 Oak Blvd. Black Hills,SD,82101,719,303-1219,vivoj@wandergem.com,Wandergem LLC,Sr. Analyst
3,Ed Blumenthal,3012 Briarwood Ln. Denver,CO,80101,719,422-8091,ep20002@gmail.com,Hanibow & Delite,Programmer
4,Rosey Englund,1818 Mockingbird Ln. Aurora,CO,82101,719,286-1920,ke7001@yahoo.com,Wadlow Inc.,Administrative Lead
5,Tori Gray,2218 Masengild Ave.,NJ,8075,301,338-6571,tjames@acme.com,Acme Inc.,Inventor
6,Lisa Black,89 Prince Dr. Philadelphia,PA,9119,202,419-0650,victors89@glaser.org,Glaser Properties LLC.,Manager
7,Tom Redford,2323 Nicholas St. Newark,NJ,7101,862,227-8022,tom.redford@gmail.com,Illustrative Studio Systems,Graphics Engineer
8,Sally White,3345 Spruce Cir. Harrisburg,PA,17105,717,429-1217,swhope@ggworth.com,Bond Appliances,Administrative Specialist
9,Goldy Simpson,4430 Mountainside Creek Rd Custer,SD,57730,605,689-3131,simpson@yahoo.com,Crater Construction,Owner
10,O. Range,1703 Treeline Dr. Denver,CO,80101,719,429-1356,ffnine27@hotmail.com,n/a,Retired
11,Sil Verna,557 Pine Ave Aurora,CO,82101,719,286-1920,sil@yahoo.com,Music Enthusiasts,Salesperson
12,Pinky Tuscadero,601 Sapling Blvd.,NJ,8501,609,227-6001,pinky@freedom.net,Self-employed,Vocal Artist
13,Hazel Sanford,27 Musket Dr. Pittsburg,PA,15201,412,389-7711,hazel@outlook.com,Bourne Legal Associates,Paralegal

In [4]:
bystate = contacts.groupby('state')

In [5]:
bystate.groups

{'CO': [3, 4, 10, 11], 'NJ': [0, 5, 7, 12], 'PA': [1, 6, 8, 13], 'SD': [2, 9]}

In [6]:
bystate.nth(1)

,name,address,state,zip,area_code,phone,email,company,position
4,Rosey Englund,1818 Mockingbird Ln. Aurora,CO,82101,719,286-1920,ke7001@yahoo.com,Wadlow Inc.,Administrative Lead
5,Tori Gray,2218 Masengild Ave.,NJ,8075,301,338-6571,tjames@acme.com,Acme Inc.,Inventor
6,Lisa Black,89 Prince Dr. Philadelphia,PA,9119,202,419-0650,victors89@glaser.org,Glaser Properties LLC.,Manager
9,Goldy Simpson,4430 Mountainside Creek Rd Custer,SD,57730,605,689-3131,simpson@yahoo.com,Crater Construction,Owner

In [7]:
bystate.nth(1)['name']

4    Rosey Englund
5        Tori Gray
6       Lisa Black
9    Goldy Simpson
Name: name, dtype: object

In [8]:
bystate.size()

state
CO    4
NJ    4
PA    4
SD    2
dtype: int64

In [9]:
bystate.indices

{'CO': array([ 3,  4, 10, 11], dtype=int64),
 'NJ': array([ 0,  5,  7, 12], dtype=int64),
 'PA': array([ 1,  6,  8, 13], dtype=int64),
 'SD': array([2, 9], dtype=int64)}

In [10]:
bystate.first()

,name,address,zip,area_code,phone,email,company,position
state,,,,,,,,
CO,Ed Blumenthal,3012 Briarwood Ln. Denver,80101,719,422-8091,ep20002@gmail.com,Hanibow & Delite,Programmer
NJ,Bob Green,4517 Elm St. Riverside,8075,301,356-8921,bob@abc.com,ABC Inc.,President
PA,Violet Smith,220 E. Main Ave Philadelphia,9119,202,421-9008,ssmithj@hypex.org,FakeCo Inc.,Janitor
SD,John Brown,231 Oak Blvd. Black Hills,82101,719,303-1219,vivoj@wandergem.com,Wandergem LLC,Sr. Analyst

In [11]:
bystate.get_group('CO')

,name,address,state,zip,area_code,phone,email,company,position
3,Ed Blumenthal,3012 Briarwood Ln. Denver,CO,80101,719,422-8091,ep20002@gmail.com,Hanibow & Delite,Programmer
4,Rosey Englund,1818 Mockingbird Ln. Aurora,CO,82101,719,286-1920,ke7001@yahoo.com,Wadlow Inc.,Administrative Lead
10,O. Range,1703 Treeline Dr. Denver,CO,80101,719,429-1356,ffnine27@hotmail.com,n/a,Retired
11,Sil Verna,557 Pine Ave Aurora,CO,82101,719,286-1920,sil@yahoo.com,Music Enthusiasts,Salesperson

In [12]:
colorado = bystate.get_group('CO')

colorado[colorado['zip'] == 82101]

,name,address,state,zip,area_code,phone,email,company,position
4,Rosey Englund,1818 Mockingbird Ln. Aurora,CO,82101,719,286-1920,ke7001@yahoo.com,Wadlow Inc.,Administrative Lead
11,Sil Verna,557 Pine Ave Aurora,CO,82101,719,286-1920,sil@yahoo.com,Music Enthusiasts,Salesperson